// @import url("https://fonts.googleapis.com/css?family=Montserrat");
// @import url("https://fonts.googleapis.com/css?family=Lato");

// Set your brand colors

// $purple: #8a4d76;
// $pink: #fa7c91;
// $brown: #757763;
// $beige-light: #d0d1cd;
// $beige-lighter: #eff0eb;

// default bulma
// $primary: $purple;
// $link: #1e21d1;
// $info: #12a750;

/*
$success: $green;
$warning: $yellow;
$danger: $red;
$dark: $grey-darker;
$text: $grey-dark;

$grey-darker: hsl(0, 0%, 21%);
$grey-dark: hsl(0, 0%, 29%);
$grey: hsl(0, 0%, 48%);
$grey-light: hsl(0, 0%, 71%);
$grey-lighter: hsl(0, 0%, 86%);
*/

// Update Bulma's global variables
$family-sans-serif: "Lato", sans-serif;

// Update some of Bulma's component variables
/*
$control-border-width: 2px;
$input-background-color: $beige-lighter;
$input-border-color: transparent;
$input-shadow: none;
*/

// Import the rest of Bulma
@import "../../node_modules/bulma/bulma.sass";

@import "./util.scss";

@import "./sticky-footer.scss";

.has-min-full-height {
  min-height: 100vh;
}

.link-underlined {
  text-decoration: underline;
}

.link-underlined:hover {
  text-decoration: none;
}

.is-text-underlined {
  text-decoration: underline;
}

.hero.is-fullheight-with-navbar {
  // add footer
  min-height: calc(100vh - 3.25rem - 6rem);
}

.footer {
  padding: 3rem 1.5rem 3rem;
  p + p {
    margin-top: 1rem;
  }
}

.background-result {
  min-height: 330px;
  background-image: url("/images/undraw-result-shorty.png");
  background-repeat: no-repeat;
  // background-attachment: fixed;
  background-position: center bottom;
}

@media screen and (max-width: 768px) {
  .level-item:not(:last-child) {
    margin-bottom: 2rem;
  }

  .background-result {
    min-height: 500px;
  }
}

/*
.noty_body {
  word-break: break-all;
}
*/

//
// ideas from https://aldi.github.io/awesome-bulma-templates/templates/rent/rent.html
//

h1,
h2,
h3,
h4 {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
}
.title {
  font-weight: 600;
}
.subtitle {
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 500;
}
.hero.is-light .subtitle,
.subtitle {
  color: #99a6b3;
}
.field.has-shadow-field {
  -webkit-box-shadow: 0 5px 30px hsla(224, 8%, 64%, 0.25) !important;
  box-shadow: 0 5px 30px hsla(224, 8%, 64%, 0.25) !important;
}
.button {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}
.button.is-shadowy {
  box-shadow: 0 5px 30px hsla(224, 8%, 64%, 0.25);
  -webkit-box-shadow: 0 5px 30px hsla(224, 8%, 64%, 0.25);
  -moz-box-shadow: 0 5px 30px hsla(224, 8%, 64%, 0.25);
}
.button.is-shadowy:hover {
  -webkit-box-shadow: 0 16px 43px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 16px 43px 2px rgba(0, 0, 0, 0.2);
}
a {
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
.input {
  box-shadow: none;
  -webkit-box-shadow: none;
}
.input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #fff inset;
  box-shadow: 0 0 0 30px #fff inset;
}
.input:invalid {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.input:active,
.input:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
